#campo_minado {
    position:relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: red;
}

#game_over {
    position:absolute;
    visibility: hidden;
    width: 250px;
    height:200px;
    top: 25%;
    left: 25%;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-box-sizing: border-box;
    background-color: #db0008;
    text-align: center;
    z-index: 1;
    font-size: 2em;
}

.zona {
    position:absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: gray;
    border: 2px solid silver;
    margin: 0;
    width:50px;
    height:50px;
}

.zona:hover {
    background-color: #f5f5f0;
}

.bomba {
    background-image: url("../img/explosion.png");
    background-repeat: no-repeat;
}

.bandeira {
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
}
